# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/MavenWrapperDownloader.java

# Logs & OS junk
*.log
*.tmp
.DS_Store
Thumbs.db

# IntelliJ / IDEA
.idea/
*.iml
out/

# Allure results / reports
allure-results/
allure-report/

# Selenium / downloads (ihtimale karşı)
downloads/
